@tailwind base;
@tailwind components;
@tailwind utilities;


/* .image-overlay {
    position: relative;
    width: 100%;
    max-width: 500px; /* Adjust this based on your image size */
  /* }
  .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    width: 100%;
    background-color: blue; */
  /* } */ 